 .Blogs{
    background-color: rgba(255, 244, 238,0.8) ;

} 
.pic3{
    /* height: 100%; */
    width: 100%;
    /* padding: 50px 0; */
    /* margin: 25px; */
}
.blogscontainer{
    /* height: 80%; */
    width: 100%;
    padding: 50px 0;
    /* margin: 25px; */
}
/* .blogscontainer:hover{
    cursor: pointer;
    color: gray;
} */
.pic2{
    /* height: 100%; */
    width: 100%;
    /* padding: 50px 0; */
    /* margin: 25px; */
}
.pic1{
    /* height: 100%; */
    width: 100%;
    /* padding: 50px 0; */
    /* margin: 25px; */
}
.pic1:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 20px gray;
    overflow: hidden;
}
.pic3:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 20px gray;
}
.pic2:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 20px gray;
}

/* button{
    width: 150px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rebeccapurple;
    background: transparent;
    cursor: pointer;
    overflow: hidden;
color: #fff;
position: relative;
}
span{
    background: darkgoldenrod;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;

}
button:hover{
    border: none;
    background-color: indigo;
    color: #fff;
   
} */
.icons:hover{
    color: orchid;
    border-radius: 50%;
}
.categories{
    background-color: white;
}
.readmore{
    border: 1px solid black;
}
.readmore:hover{
    background-color: orange;
    color: white;
}
.hi{
    color: blue;
}
.hiiiii{
    color: rgb(37, 150, 190)
}
.hiiii{
    color: rgb(168, 105, 50);
}
.hiii{
    color: red;
    /* border: 1px solid black;
    border-radius: 50%; */
    
}
/* .fab{
    border: 1px solid black;
    border-radius: 50%;
} */


.add{
    border: 1px solid none;
    border-radius: 50%;
    background-color: rgb(234 88 12 / var(--tw-bg-opacity));
    padding: 2px;
}




   





