.pic4:hover{
    transform: scale(1.05);
    /* box-shadow: 0px 0px 20px gray; */
    transition: 0.8s;
}
.pic5:hover{
    transform: scale(1.05);
    /* box-shadow: 0px 0px 20px gray; */
    transition: 0.8s;
}
.pic6:hover{
    transform: scale(1.05);
    /* box-shadow: 0px 0px 20px gray; */
    transition: 0.8s;
}
.pic7:hover{
    transform: scale(1.05);
    /* box-shadow: 0px 0px 20px gray; */
    transition: 0.8s;
}
.pic8:hover{
    transform: scale(1.05);
    /* box-shadow: 0px 0px 20px gray; */
    transition: 0.8s;
}
.pic9:hover{
    transform: scale(1.05);
    /* box-shadow: 0px 0px 20px gray; */
    transition: 0.8s;
}
.pic10:hover{
    transform: scale(1.05);
    /* box-shadow: 0px 0px 20px gray; */
    transition: 0.8s;
}
.pic11:hover{
    transform: scale(1.05);
    /* box-shadow: 0px 0px 20px gray; */
    transition: 0.8s;
}
.pic12:hover{
    transform: scale(1.05);
    /* box-shadow: 0px 0px 20px gray; */
    transition: 0.8s;
}
.pic13:hover{
    transform: scale(1.05);
    /* box-shadow: 0px 0px 20px gray; */
    transition: 0.8s;
}
.pic14:hover{
    transform: scale(1.05);
    /* box-shadow: 0px 0px 20px gray; */
    transition: 0.8s;
}
.pic16:hover{
    transform: scale(1.05);
    /* box-shadow: 0px 0px 20px gray; */
    transition: 0.8s;
}
.pic20:hover{
    transform: scale(1.05);
    /* box-shadow: 0px 0px 20px gray; */
    transition: 0.8s;
}
.pic21:hover{
    transform: scale(1.05);
    /* box-shadow: 0px 0px 20px gray; */
    transition: 0.8s;
}
.pic22:hover{
    transform: scale(1.05);
    /* box-shadow: 0px 0px 20px gray; */
    transition: 0.8s;
}
.pic23:hover{
    transform: scale(1.05);
    /* box-shadow: 0px 0px 20px gray; */
    transition: 0.8s;
}
.pic24:hover{
    transform: scale(1.05);
    /* box-shadow: 0px 0px 20px gray; */
    transition: 0.8s;
}
.pic25:hover{
    transform: scale(1.05);
    /* box-shadow: 0px 0px 20px gray; */
    transition: 0.8s;
}








